{% extends "base.html" %}

{% block announce %}
    {% set announce = config.extra.latest_announcement %}
    {% if announce %}
    <p class="banner">
        🎉 最新{{ announce.overall.label }}：
        <a href="{{ announce.overall.url }}" target="_blank" rel="noopener">{{ announce.overall.title }}</a>
    </p>
    {% endif %}
{% endblock %}

{% block outdated %}
You're not viewing the latest version.
<a href="{{ '../' ~ base_url }}">
    <strong>Click here to go to latest.</strong>
</a>
{% endblock %}

{% block extrahead %}
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?d7b128630d4c9168ee28d4cb9be557b9";
        hm.async = true;
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
{% endblock %}
