{% extends "base.html" %}

{% block announce %}
    <p class="banner"> 🎉 20260330-20260403 周刊发布 → <a href="https://swhl.github.io/main/weekly/20260330-20260403-weekly/" target="_blank">link</a></p>
{% endblock %}

{% block outdated %}
You're not viewing the latest version.
<a href="{{ '../' ~ base_url }}">
    <strong>Click here to go to latest.</strong>
</a>
{% endblock %}

{% block extrahead %}
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?d7b128630d4c9168ee28d4cb9be557b9";
        hm.async = true;
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
{% endblock %}