<header class='c-header'>

  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--full'>
      <div class='c-header__inner'>

        <div class='o-grid'>
          <div class='o-grid__col o-grid__col--3-4-s'>
            <div class='c-logo u-text-left'>
              <a class='c-logo__link' href='http://mp.weixin.qq.com/profile?src=3&timestamp=1638017887&ver=1&signature=ijXLEiNm4xA58SBcwtUNV0pI6Hkm*R50VyPKE*SlcvQ-h87J7UPyliFE7saUmfW66v7WV0B56HT0xdRCAD*i7Q=='>{{ site.title }}</a>
            </div>
          </div>

          <!-- <div class='o-grid__col o-grid__col--1-4-s'>
            <label class='js-off-canvas-toggle c-off-canvas-toggle' aria-label='Toggle navigation'>
              <span class='c-off-canvas-toggle__icon'></span>
            </label>
          </div> -->

          <!-- <div class='o-grid__col o-grid__col--1-4-s'>
            <div class='c-off-canvas-content'>
              <label class='js-off-canvas-toggle c-off-canvas-toggle c-off-canvas-toggle--close'>
                <span class='c-off-canvas-toggle__icon'></span>
              </label>

              <ul class='c-nav o-plain-list '>
                {% include navigation.html %}
              </ul>
            </div>
          </div> -->
        </div>

      </div>
    </div>
  </div>

</header>